<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：命名空间，绑定的是一个对应的mapper接口-->
<mapper namespace="com.devil.mapper.PersonMapper">
    <resultMap id="personMap" type="Person">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="birthday" column="birthday"/>
    </resultMap>
    <!--
    TODO id: 对应的是 namespace中的方法名
     resultType：Sql语句的返回值
     parameterType：参数类型
    -->
<insert id="addPerson" parameterType="Person">
  insert into person(username,user_pwd,birthday) values(#{username},#{userPwd},#{birthday})
</insert>
    <select id="query" resultMap="personMap">
        select * from person where id = #{uid}
    </select>

    <select id="getPersonByLimit" resultMap="personMap" parameterType="map">
        select * from user limit #{startIndex},#{pageSize}
    </select>

    <select id="getPersonByName" resultMap="personMap">
        select * from person where username = #{name}
    </select>

    <select id="getPerson" resultMap="personMap">
        select * from user limit #{startIndex},#{pageSize}
    </select>
</mapper>
